---
import { actions } from 'astro:actions'
import Layout from '../../layouts/Layout.astro'
const { data: categories } = await actions.getCategories()

const errors = {
  existingCategory: '',
  newCategory: '',
  question: '',
  answers: '',
  correctAnswer: '',
}
const prefilled = {
  existingCategory: '',
  newCategory: '',
  question: '',
  answers: [] as string[],
  correctAnswer: '',
}
const result = Astro.getActionResult(actions.createNewQuestion)
---

<Layout title="New Question - Dashboard">
  <main>
    <h2 class="text-3xl">Create a new question</h2>
    <nav class="mb-6">
      <ul class="flex gap-6">
        <li><a href="/dashboard/new-question">New Question</a></li><li>
          <a href="/dashboard/edit-questions">Edit Questions</a>
        </li>
      </ul>
    </nav>
    <div>
      {
        result
          ? result.error
            ? 'something happened'
            : 'successfully created question'
          : ''
      }
    </div>
    <div class="mt-8 border border-solid border-black px-10 py-6">
      <h3 class="text-2xl">
        Please fill out the form below to add a new question to your topic:
      </h3>
      <form
        method="POST"
        action={actions.createNewQuestion}
        class="flex flex-col gap-4 px-2 py-4"
      >
        <div class="flex flex-col gap-2">
          <label for="existing-category">Add to existing category</label>
          <select
            transition:persist
            name="existingCategory"
            id="existing-category"
          >
            <option value="">--Leave blank if new category--</option>
            {
              categories?.map((cat) => (
                <option
                  selected={prefilled.existingCategory === cat.name}
                  value={cat.id}
                >
                  {cat.name}
                </option>
              ))
            }
          </select>
          {
            errors.existingCategory && (
              <p class="text-red-700">Error: {errors.existingCategory}</p>
            )
          }
        </div>
        <hr class="border-black" />
        <div class="flex flex-col gap-2">
          <label for="new-category">Add to new category</label>
          <input
            transition:persist
            value={prefilled.newCategory}
            class="mx-0"
            name="newCategory"
            id="new-category"
            placeholder="Awesome Cert"
            type="text"
          />
          {
            errors.newCategory && (
              <p class="text-red-700">Error: {errors.newCategory}</p>
            )
          }
        </div>
        <hr class="border-black" />
        <div class="flex flex-col gap-2">
          <label for="question">Add your new question</label>
          <textarea transition:persist required name="question" id="question"
            >{prefilled.question}</textarea
          >
        </div>
        <hr class="border-black" />
        <div>
          <label for="answers">Add the answers to your question</label>
          <fieldset>
            <legend
              >Add upp to 4 answers, a single answer will become a flashcard</legend
            >
            <div>
              <label for="answer-a">a</label><input
                required
                transition:persist
                id="answer-a"
                name="answers"
                type="text"
                placeholder="Answer A"
                value={prefilled.answers[0]}
              />
            </div>
            <div>
              <label for="answer-b">b</label><input
                transition:persist
                id="answer-b"
                name="answers"
                type="text"
                placeholder="Answer B"
                value={prefilled.answers[1]}
              />
            </div>
            <div>
              <label for="answer-c">c</label><input
                transition:persist
                id="answer-c"
                name="answers"
                type="text"
                placeholder="Answer C"
                value={prefilled.answers[2]}
              />
            </div>
            <div>
              <label for="answer-d">d</label><input
                transition:persist
                id="answer-d"
                name="answers"
                type="text"
                placeholder="Answer d"
                value={prefilled.answers[3]}
              />
            </div>
          </fieldset>
          <hr class="border-black my-4" />
          <fieldset>
            <legend>Select correct answer</legend>
            <div>
              <label for="correct-a">a</label>
              <input
                transition:persist
                id="correct-a"
                type="radio"
                name="correctAnswer"
                value={0}
              />
              <label for="correct-b">b</label>
              <input
                id="correct-b"
                transition:persist
                type="radio"
                name="correctAnswer"
                value={1}
              />
              <label for="correct-c">c</label>
              <input
                transition:persist
                id="correct-c"
                type="radio"
                name="correctAnswer"
                value={2}
              />
              <label for="correct-d">d</label>
              <input
                id="correct-d"
                transition:persist
                type="radio"
                name="correctAnswer"
                value={3}
              />
            </div>
          </fieldset>
        </div>
        <button>Submit question</button>
      </form>
    </div>
  </main>
</Layout>
